/* Navbar Styles */
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(10, 25, 47, 0.95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    color: white;
    z-index: 1000;
    height: 70px;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

/* Logo Section */
.logo_section {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 10px;
}

.logo_section img {
    border-radius: 10px;
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}
.logo_section h1{
    text-shadow: 2px 2px 3px #64ffda;
}

.logo_section img:hover {
    transform: scale(1.1) rotate(10deg);
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-links li:hover {
    transform: translateY(-5px);
    color: #64ffda; /* Highlight color */
}

/* Mobile Menu Icon */
.menu-icon {
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-icon img {
    width: 35px;
    height: auto;
}

/* .menu-icon:hover {
    transform: rotate(90deg);
} */

/* Close Icon */
.close-icon {
    display: none; /* Hidden on larger screens */
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.close-icon img {
    width: 30px;
    height: 30px;
}

.close-icon:hover {
    transform: scale(1.2);
}
/* Mobile Responsive Navbar */
@media (max-width: 768px) {
    .navbar {
        padding: 15px 30px;
        opacity: 1;
    }
    .logo_section{
        gap: 5px;
    }
    .logo_section h1{
        font-size: 20px;
    }

    /* Show menu icon */
    .menu-icon {
        display: block;
    }

    /* Mobile Menu */
    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        background-color: rgba(10, 25, 47, 0.95);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease-in-out;
    }

    /* Show menu when open */
    .nav-links.mobile-menu {
        right: 0;
    }

    .nav-links li {
        font-size: 20px;
        padding: 15px 0;
    }

    /* Close Button */
    .close-icon {
        display: block;
        position: absolute;
        top: 15px;
        right: 20px;
        cursor: pointer;
    }

    .close-icon img {
        width: 30px;
        height: 30px;
    }
    .nav-links.mobile-menu .close-icon {
        display: block;
    }
}